<!DOCTYPE html>
<html>
<head>
	<title>Container Widget in Flutter</title>
	<link rel="stylesheet" type="text/css" href="../../Assets/bulma.css">
	<link rel="stylesheet" type="text/css" href="../../Assets/Style.css">
	<script type="text/javascript" src="../../Assets/prism.min.js"></script>
	<script type="text/javascript" src="../../Assets/jquery.min.js"></script>
  <link rel="stylesheet" href="../../Assets/prism-dark.css">
</head>
<body class="Body">
<div class="Content Card">



<h1>Container Widget</h1>
<p>Container widget just like "div" in HTML. It is used to contain child widget and manages its layout like padding, margin, background color etc. You can use following argument to customize the widget.</p>

<h2>color</h2>
<p>The color argument specifies the background color of the container widget. Learn how to specify color in <a href="../Typography/Colors.html">Colors</a> Section.</p>

<h2>padding</h2>
<p>This argument is used to specify the padding of the widget. The distance between the container edge and its child edge. The padding is specified using <a href="PaddingWidget.html">EdgeInsets</a> class.</p>


<h2>width</h2>
<p>It specifies the width of the container.</p>

<h2>height</h2>
<p>It specifies the height of the container.</p>

<h2>margin</h2>
<p>It specifies the margin. The value is specified the same way we specify padding, which is using EdgeInsets. Margin is the distance between the container edge and its nearest widget edge.</p>
<p>Even though the Container widget can have <code>margin</code> argument, but note that in flutter there's no concept of margin at all. Even margin is achieved with an outer Padding widget. When you use margin argument, the Container widget creates an outer Padding widget and set the Container as child. That's why there's no margin widget in flutter.</p>

<h2>alignment</h2>
<p>This argument specifies the position of the child. Learn how to specify alignment in flutter in <a href="Alignment.html">Alignment</a> section.</p>

<h2>decoration</h2>
<p>Decoration argument is used to decorate box in varius way. Like you can set background color, or background gradient, or background image. You can also control the roundness of border and set border etc. To know more how it is done head to <a href="Decoration.html">Decoration</a> chapter.</p>



</div>
</body>
</html>