<!DOCTYPE html>
<html>
<head>
	<title>Layouts in Flutter - Table of Content</title>
	<link rel="stylesheet" type="text/css" href="../../Assets/bulma.css">
	<link rel="stylesheet" type="text/css" href="../../Assets/Style.css">
	<script type="text/javascript" src="../../Assets/jquery.min.js"></script>
	<link rel="stylesheet" href="../../Assets/prism-dark.css">
	<style type="text/css">
			.Content{
					display: flex;
					flex-flow: row wrap;
			}
			.Content a{
					margin: 5px;
					padding: 5px;
					border: 1px solid #ccc;
			}
			.Content{
					padding: 0 !important;
			}
			h1{
					font-size: 16px;
					margin: 0;
			}
	</style>
</head>
<body class="Body">

	<div class="Card">
		<h1>Basic Widgets</h1>
		<div class="Content">
			<a href="ContainerWidget.html">Container Widget</a>
			<a href="PaddingWidget.html">Padding Widget</a>
			<a href="PaddingWidget.html">EdgeInsets</a>
			<a href="SizedBoxWidget.html">SizedBox Widget</a>
			<a href="DividerWidget.html">Divider Widget</a>
			<a href="Icons.html">Icons</a>
			<a href="Icons.html">Icon Widget</a>
			<a href="Icons.html">IconButton Widget</a>
		</div>
	</div>

	<div class="Card">
		<h1>Alignment in Flutter</h1>
		<div class="Content">
			<a href="Alignment.html">Alignment</a>
			<a href="Alignment.html">Align Widget</a>
			<a href="Alignment.html">Center Widget</a>
		</div>
	</div>

	<div class="Card">
		<h1>Box Constraints in Flutter</h1>
		<div class="Content">
			<a href="BoxConstraints.html">Box Constraints</a>
			<a href="BoxConstraints.html">Tight vs. loose constraints</a>
			<a href="BoxConstraints.html">Unbounded Vs Bounded Constraints</a>
			<a href="ConstrainedBox.html">ConstrainedBox</a>
		</div>
	</div>

	<div class="Card">
		<h1>Row and Column Widget</h1>
		<div class="Content">
			<a href="RowWidget.html">Row Widget</a>
			<a href="ColumnWidget.html">Column Widget</a>
		</div>
	</div>

	<div class="Card">
		<h1>Flexible and Expanded Widget in Flutter</h1>
		<div class="Content">
			<a href="FlexibleAndExpanded.html">Flexible Widget</a>
			<a href="FlexibleAndExpanded.html">Expanded Widget</a>
			<a href="FlexibleAndExpanded.html">Spacer Widget</a>
		</div>
	</div>

	<div class="Card">
		<h1>Decoration in Flutter</h1>
		<div class="Content">
			<a href="Decoration.html">BoxDecoration</a>
			<a href="Decoration.html">Border</a>
			<a href="Decoration.html">BorderRadius</a>
			<a href="Decoration.html">DecorationImage</a>
			<a href="Decoration.html">BoxShadow</a>
			<a href="Decoration.html">BoxShape</a>
			<a href="Gradient.html">Gradient</a>
			<a href="Decoration.html">DecoratedBox</a>
			<a href="Decoration.html">DecoratedPosition</a>
		</div>
	</div>

	<div class="Card">
		<h1>BoxFit in Flutter</h1>
		<div class="Content">
			<a href="BoxFit.html">BoxFit</a>
			<a href="BoxFit.html">FittedBox Widget</a>
		</div>
	</div>

	<div class="Card">
		<h1>Stack in Flutter</h1>
		<div class="Content">
			<a href="Stack.html">Stack Widget</a>
			<a href="Stack.html">Positioned Widget</a>
			<a href="Stack.html">IndexedStack Widget</a>
		</div>
	</div>

	<div class="Card">
		<h1>ListView Widget</h1>
		<div class="Content">
			<a href="ListView.html">ListView Widget</a>
			<a href="ListView.html">ListView.builder()</a>
			<a href="ListView.html">Infinite List</a>
			<a href="ListView.html">ListView.separated()</a>
			<a href="ListView.html">Exploring ScrollPhysics</a>
		</div>
	</div>


	<div class="Card">
		<h1>PageView Widget</h1>
		<div class="Content">
			<a href="PageView.html">PageView Widget</a>
			<a href="PageView.html">PageController</a>
		</div>
	</div>


	<div class="Card">
		<h1>Visibility in Flutter</h1>
		<div class="Content">
			<a href="Visibility.html">Visibility Widget</a>
			<a href="Visibility.html">Opacity Widget</a>
			<a href="Visibility.html">Offstage Widget</a>
		</div>
	</div>


	<div class="Card">
		<h1>Overlay in Flutter</h1>
		<div class="Content">
			<a href="Overlay.html">Overlay Widget</a>
		</div>
	</div>



	<div class="Card">
		<h1>Image</h1>
		<div class="Content">
			<a href="Image.html">Image Widget</a>			
		</div>
	</div>

	<div class="Card">
		<h1>Dialog</h1>
		<div class="Content">
			<a href="Dialog.html">Dialog Widget</a>			
		</div>
	</div>


</body>
</html>
